{% extends "base.html" %}
{% block content %}

<h2> Add a New Class</h2>

<form action="/gym_classes/new" method = "POST">
    <div id="new-class">
        <label for="name">Name:</label> <br>
        <input type="text" id = "name" name ="name"> <br>
        <label for="time">Time:</label> <br>
        <input type="time" id = "time" name ="time"> <br>
        <label for="duration">Duration:</label> <br>
        <input type="number" id = "duration" name ="duration"> <br>
        <button type="submit">Add Class</button>
    </div>
</form>

{% endblock %}